{% extends "base.html" %}
{% block body %}
    <h1>Koniec gry</h1>
    <h1>Zwyciężył gracz {{ winner.name }}!</h1>
    <h1>Wyniki</h1>
    <table class="table">
  <thead>
    <tr>
        <th scope="col">#</th>
        {% for player in game.players %}
            <th scope="col">{{ player.name }}</th>
        {% endfor %}
    </tr>
  </thead>
  <tbody>
    <tr>
    <th scope="row">runda 1</th>
    {% for player in game.players %}
        <td>{{ player.round_points[0] }}</td>
    {% endfor %}
    </tr>
    <tr>
    <th scope="row">runda 2</th>
    {% for player in game.players %}
        <td>{{ player.round_points[1] }}</td>
    {% endfor %}
    </tr>
    <tr>
    <th scope="row">runda 3</th>
    {% for player in game.players %}
        <td>{{ player.round_points[2] }}</td>
    {% endfor %}
    </tr>
    <tr>
    <th scope="row">runda 4</th>
    {% for player in game.players %}
        <td>{{ player.round_points[3] }}</td>
    {% endfor %}
    </tr>
    <tr>
    <th scope="row">runda 5</th>
    {% for player in game.players %}
        <td>{{ player.round_points[4] }}</td>
    {% endfor %}
    </tr>
    <tr>
    <th scope="row">runda 6</th>
    {% for player in game.players %}
        <td>{{ player.round_points[5] }}</td>
    {% endfor %}
    </tr>
    <tr>
    <th scope="row">runda 7</th>
    {% for player in game.players %}
        <td>{{ player.round_points[6] }}</td>
    {% endfor %}
    </tr>
  <tr>
    <th scope="row">suma</th>
    {% for player in game.players %}
        <td>{{ player.total_points }}</td>
    {% endfor %}
    </tr>
  </tbody>
</table>

<div class="container">
<a href="{{ url_for("home") }}"><button type="button" class="btn btn-primary">Nowa gra</button></a>
</div>
{% endblock %}
