{% extends "base.html" %}
{% block body %}
    <h1>Runda {{ game.round }} - {{ game.rounds_names[game.round] }}</h1>
    {% if game.table.cards %}
          <div class="container">
        {% for card in game.table.cards  %}
                <div><img src="{{ url_for('static',filename='img/cards/' + card.image) }}"
                  width="80px" height="120px" alt="Card image"></div>
        {% endfor %}
          </div>
    {% endif %}
    <h1>Karty wędrują do gracza {{ game.players[player_index].name }}</h1>
    <div class="container">
    <a href="{{ url_for("multiplayer_phase1") }}"><button type="button" class="btn btn-primary btn-lg">Kontynuuj</button></a>
    </div>

{% endblock %}